* {
    margin: 0;
    Padding: 0;
}

body {
    overflow: hidden;
}

.gameContainer {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.dino {
    background-image: url(dino.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 233px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 300px;
}

.obstacle {
    background-image: url(Obstacle.png);
    background-size: cover;
    width: 100px;
    height: 123px;
    position: absolute;
    bottom: 0;
    left: 400px;
}

.animateDino {
    animation: dino 1s linear;
}

.obstacleAni {
    animation: obstacleAni 5s linear infinite;
}

.gameOver {
    position: relative;
    top: 63px;
    font-size: 53px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#scoreCount {
    font-size: 25px;
    color: #ebeef3;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
}

@keyframes dino {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 422px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes obstacleAni {
    0% {
        left: 100vw;
    }
    100% {
        left: -10vw;
    }
}